
<div class="d-flex" style="margin-top: 80px;" *ngFor="let tenant of tenants">
    <!-- Card -->
    <mdb-card
      style="background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/93654608.jpg?k=322c85317da73d34a4cf416559c6514554885fe9d35baab4ab3d5eea33b78284&o=&hp=1')"
      class="card-image mb-3 mx-2">
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" >
        <div>
          <h3 class="pink-text">
            <mdb-icon fas icon="user"> </mdb-icon> {{tenant.name}} </h3>
          <h5 class="card-title pt-2">Contact : <strong>{{tenant.phone}}</strong></h5>
          <h5 class="card-title pt-2">Email : <strong>{{tenant.email}}</strong></h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
            voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla
            ipsum dignissimos. Odit sed qui, dolorum!.
          </p>
          <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
            <mdb-icon far icon="clone" class="left"></mdb-icon>View tenant</a>
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->
  
    <!-- Card -->
    

    
    
    