<!--Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink">
  
    <a class="navbar-brand" href="welcome" style="font-family:verdana"> 
         
          <img src="../assets/ll.png" style="width: 40%;height: 1%; align-items: left;"/>  
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="about">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
      </nav>

<router-outlet></router-outlet>


<footer class="page-footer font-small pink pt-4 fixed-bottom">

    <div class="footer-copyright text-center py-3"> Rental Link:
        <a href="https://mdbootstrap.com/education/bootstrap/">©Anathi Best </a>
    </div>

    
</footer>

